/* -----Main css------- */

.margin-right-10 {
  margin-right: 10px;
}

a.btn-outline-success {
  display: block;
  border: 3px solid #28a745;
}

a.btn-outline-success:hover {
  background-color: #0d694a;
  border-color: #0d694a;
}

.btn-outline-success:active {
  background-color: #0d694a !important;
  border-color: #0d694a !important;
}

.tags.small {
  margin: 10px 0 0;
}

.bottom-border {
  border-bottom: 3px double #0d694a;
}

.nowrap {
  color: #fff;
  background-color: #28a745;
  display: inline-block;
  min-width: 50px;
  min-height: 25px;
  text-align: center;
  margin: 5px;
  padding: 5px 0;
}

.green-border {
  border-left: 3px solid #0d694a;
  padding-left: 3px;
}

.time-icon::before {
  left: -14px;
  content: "⏱️";
  position: relative;
  font-size: 20px;
}

.sixteen.wide.column > h2 {
  text-align: center;
}

.contacts li {
  margin-bottom: 0.5rem;
}

.divider.fat {
  border-top: 0.3571428571428571em solid #0d694a;
  border-top-width: 0.357143em;
  border-top-style: solid;
  border-top-color: #0d694a;
}

.thirteen.wide.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  background: none;
}

video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

main:nth-last-child(3) {
  margin-bottom: 0;
}

.page {
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  a.btn-outline-success {
    width: 150px;
    margin: 10px auto;
  }

  .contacts li {
    min-height: 48px;
  }

  .row > .ten.wide.column {
    margin-right: 15px;
    margin-left: 15px;
  }

  .row > .six.wide.column {
    margin-right: 15px;
    margin-left: 15px;
  }

  .avatar {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  div.row {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 992px) {
  .thirteen > .grid {
    min-width: 550px;
  }
}

@media only screen and (min-width: 1200px) {
  .thirteen > .grid {
    min-width: 700px;
  }
}

/* -----End Main css------- */
