/*-----Main css-------*/
.sixteen.wide.column > h2 {
  text-align: center;
}
.contacts li {
  margin-bottom: 0.5rem;
}
.divider.fat {
  border-top: 0.3571428571428571em solid #0d694a;
  border-top-width: 0.357143em;
  border-top-style: solid;
  border-top-color: #0d694a;
}
.thirteen.wide.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  background: none;
}
.home video {
  top: 0;
  left: 0;
  z-index: 1;
}
video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
main:nth-last-child(3) {
  margin-bottom: 0;
}
.page {
  opacity: 0.8;
}
@media only screen and (max-width: 767px) {
  .contacts li {
      min-height: 48px;
 }
  .row > .ten.wide.column {
      margin-right: 15px;
      margin-left: 15px;
 }
  .row > .six.wide.column {
      margin-right: 15px;
      margin-left: 15px;
 }
}
@media only screen and (min-width: 768px) {
  div.row {
      display: flex;
      flex-wrap: nowrap;
 }
}
/*-----End Main css-------*/
